<html lang="ja"><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow,noarchive">
<meta name="description" content="メールアドレスでのユーザ登録ページです。">
<!-- Facebook Pixel Code -->
<script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-TLK4Z9J&amp;t=gtm4&amp;cid=886258904.1528783904"></script><script async="" src="//uh.nakanohito.jp/uhj2/uh.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/v1528855115741/recaptcha__ja.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PKJTV3W&amp;gtm_auth=0PZIrSaOkwbiT0Ma1EIW0g&amp;gtm_preview=env-44&amp;gtm_cookies_win=x"></script><script src="https://connect.facebook.net/signals/config/235060970222367?v=2.8.18&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '235060970222367');
fbq('track', "PageView");</script>



<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=235060970222367&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --><meta name="p:domain_verify" content="149dcc9ca5d3e2cbd47cea6e9c3effd7"><meta name="referrer" content="origin-when-cross-origin">

<meta property="og:title" content="RoomClip（ルームクリップ）">
<meta property="og:type" content="website">
<meta property="og:image" content="http://roomclip.jp/assets/img/v3/ogp/roomclip-ogp.png">
<meta property="og:url" content="http://roomclip.jp/auth/register">
<meta property="og:site_name" content="RoomClip（ルームクリップ）｜部屋のインテリア実例共有サイト">
<meta property="og:description" content="メールアドレスでのユーザ登録ページです。">
<meta property="fb:app_id" content="362011867144945">

    <link href="https://plus.google.com/104572883204505507891" rel="publisher">

<style type="text/css">.register{width:42rem;border:.1rem solid #d9d6cc;padding:0;margin:6rem auto 0;background:#f5efe9 url("https://roomclip.jp/assets/img/v3/contest/bg.png")}.register > h2{margin:3rem auto 2rem;display:block;font-size:1.6rem;font-weight:bold;color:#362e2b;text-align:center}.register p.sub{text-align:center;font-size:1.4rem;padding:0 2rem 2rem}.register table{margin:auto;width:34rem}.register .label{font-size:1.3rem}.register .field{width:18rem;height:4rem;padding:0 1.5rem;margin:0 auto;margin-bottom:1rem;border:.1rem solid #9a8e7d;color:#362e2b;background:#fefcf7;display:block;font-size:1.6rem;-moz-box-shadow:rgba(0, 0, 0, 0.15) 0.1rem 0.1rem 0.5rem 0 inset;-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0.1rem 0.1rem 0.5rem 0 inset;box-shadow:rgba(0, 0, 0, 0.15) 0.1rem 0.1rem 0.5rem 0 inset;-moz-border-radius:0.6rem;-webkit-border-radius:0.6rem;border-radius:0.6rem}.register .form-error{margin:0 auto;width:27rem;position:relative;top:-1rem;font-size:1.2rem;color:#ee2f19}.register #register{-moz-transition:ease-out 0.2s 0s;-o-transition:ease-out 0.2s 0s;-webkit-transition:ease-out 0.2s;-webkit-transition-delay:0s;transition:ease-out 0.2s 0s;height:4rem;width:20rem;margin:2rem auto;font-size:1.6rem;color:#fff;display:block;cursor:pointer;-moz-border-radius:0.6rem;-webkit-border-radius:0.6rem;border-radius:0.6rem;border:none;background:#dc3c36}.register #register:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:0.6}.register .g-recaptcha div{margin:0 auto 1rem}.register .mail{background-color:#DC3C36;float:none;margin:auto;margin-bottom:2.5rem}</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/assets/js/common/outer/underscore-min.js"></script>
<script src="/assets/js/common/outer/backbone-min.js"></script>
<script type="text/javascript">eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=0PZIrSaOkwbiT0Ma1EIW0g&gtm_preview=env-44&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PKJTV3W');</script>


<script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body style="">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKJTV3W&gtm_auth=0PZIrSaOkwbiT0Ma1EIW0g&gtm_preview=env-44&gtm_cookies_win=x"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<section class="register">
  <h2>ユーザ登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <table>
      <tbody>
      <tr>
        <td class="label">
        ユーザ名
        </td>
        <td class="input">
          <%= f.text_field :name, placeholder: "ユーザ名を入力" %>
        </td>
      </tr>
      <tr>
        <td class="label">
        メールアドレス
        </td>
        <td class="input">
          <%= f.email_field :email, autofocus: true, placeholder:"メールアドレスを入力" %>
        </td>
      </tr>
      <tr>
        <td class="label">
        パスワード
        </td>
        <td class="input">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワードを入力' %>
        </td>
      </tr>
      <tr>
        <td class="label">
        パスワード(確認)
        </td>
        <td class="input">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワードを入力（確認）' %>
        </td>
      </tr>
        <tr>
        <td colspan="2">
        <div class="g-recaptcha" data-sitekey="6LdqPh4TAAAAACKLxIZBOlU0uMXH5FlgIowlBDiN"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdqPh4TAAAAACKLxIZBOlU0uMXH5FlgIowlBDiN&amp;co=aHR0cHM6Ly9yb29tY2xpcC5qcDo0NDM.&amp;hl=ja&amp;v=v1528855115741&amp;size=normal&amp;cb=axerbse16xlj" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
        </td>
      </tr>
      </tbody>
    </table>
    <input type="submit" name="register" id="register" value="登録"></form>
  <% end %>
</section>

<script type="text/javascript" id="">(function(d,a){window.UserHeatTag=a;window[a]=window[a]||function(){(window[a].q=window[a].q||[]).push(arguments)};window[a].l=1*new Date;var b=document.createElement("script"),c=document.getElementsByTagName("script")[0];b.async=1;b.src=d;c.parentNode.insertBefore(b,c)})("//uh.nakanohito.jp/uhj2/uh.js","_uhtracker");_uhtracker({id:"uhFzOxl3N8"});</script>
<div style="background-color: #fff; border: 1px solid #ccc; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); position: absolute; left: 0px; top: -10000px; transition: visibility 0s linear 0.3s, opacity 0.3s linear; opacity: 0; visibility: hidden; z-index: 2000000000;"><div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: #fff; opacity: 0.05;  filter: alpha(opacity=5)"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0; height: 0; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0; height: 0; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div><div style="z-index: 2000000000; position: relative;"><iframe title="reCAPTCHA による確認" src="https://www.google.com/recaptcha/api2/bframe?hl=ja&amp;v=v1528855115741&amp;k=6LdqPh4TAAAAACKLxIZBOlU0uMXH5FlgIowlBDiN&amp;cb=ac07k36r4e0j#86pcqfogsc1v" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" name="86pcqfogsc1v" style="width: 100%; height: 100%;"></iframe></div></div></body></html>
