<div class="container-daily">
  <section class="daily">
    <h1>Daily RoomClip - 毎日更新！今日のオススメ写真30枚 -</h1>
    <%= link_to daily_path(@daily_today) do%>
    <section class="latest">
      <h2><span>vol.</span><%= @daily_today.id %></h2>
      <aside><%= @daily_today.date %></aside>
      <% @dailyphoto_t.first(4).each do |clip| %>
        <%= image_tag(clip.image, :class => "mid") %>
      <% end %>
      <img src="https://roomclip.jp/assets/img/v3/badge_today_s.png" alt="最新のDaily RoomClip - 本日のオススメ写真30枚！" class="today-badge">
      <img src="https://roomclip.jp/assets/img/v3/triangle_l.png" class="corner" alt="corner">
    </section>
    <% end %>

    <%= link_to daily_path(@daily_yesterday) do%>
    <section class="recently">
      <h2><span>vol.</span><%= @daily_yesterday.id %></h2>
      <aside><%= @daily_yesterday.date %></aside>
      <% @dailyphoto_y.first(3).each do |clip| %>
        <%= image_tag(clip.image, :class => "mid") %>
      <% end %>
      <img src="https://roomclip.jp/assets/img/v3/triangle_s.png" class="corner" alt="corner">
    </section>
    <% end %>

    <%= link_to daily_path(@daily_3daysago) do%>
    <section class="recently">
      <h2><span>vol.</span><%= @daily_3daysago.id %></h2>
      <aside><%= @daily_3daysago.date %></aside>
      <% @dailyphoto_3.first(3).each do |clip| %>
        <%= image_tag(clip.image, :class => "mid") %>
      <% end %>
      <img src="https://roomclip.jp/assets/img/v3/triangle_s.png" class="corner" alt="corner">
    </section>
    <% end %>

    <%= link_to daily_path(@daily_4daysago) do%>
    <section class="recently last">
      <h2><span>vol.</span><%= @daily_4daysago.id %></h2>
      <aside><%= @daily_4daysago.date %></aside>
      <% @dailyphoto_4.first(3).each do |clip| %>
        <%= image_tag(clip.image, :class => "mid") %>
      <% end %>
      <img src="https://roomclip.jp/assets/img/v3/triangle_s.png" class="corner" alt="corner">
    </section>
    <% end %>

    <a href="/daily/archive">
    <aside class="next">
      さらに過去の分を見る
      <span class="arrow"></span>
    </aside>
    </a>
  </section>
</div>
