<!DOCTYPE html>

<body>

<article id="main">
<!--  user_idが取れるようになったらlogin user_idで表示されるように変更する -->
<h1>
  タグ情報・・稼働棚/シューズクローゼット/玄関棚/玄関収納/下駄箱/初投稿…などのインテリア実例
  - <%= @clip.user.name %>の部屋 -
  <br><%= @clip.created_at.to_s(:datetime) %>
</h1>


<div class="left" style="margin: 0 3rem 0 0;">
  <figure class="main">
    <%= image_tag(@clip.image, class: "preview-image", alt: "タグつけした内容＋...などのインテリア実例を", title: "タグつけした内容＋...などのインテリア実例 - 2018-06-14 12:34:56 | RoomClip（ルームクリップ）") %>
    <figcaption>
      <% if user_signed_in? && current_user.id == @clip.user_id %>
        <%= link_to clip_path(@clip), method: :delete, class: "delete-photo-button" do %>
          <%= image_tag "trash.png" %>
        <% end %>
      <% end %>
        <%= @clip.created_at.to_s(:datetime) %>
      <aside>
        <span>この写真をシェア</span>
        <ul>
          <li class="fb" title="Facebookでシェア" onclick="RCApp.send_ga_event( 'Photo_share', 'click', 'web_fb_3735919_by_3429062');" >
              <a href="http://www.facebook.com/share.php?u=http://roomclip.jp/photo/cujd" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"></a>
          </li>
          <li class="tw" title="Twitterでシェア" onclick="RCApp.send_ga_event( 'Photo_share', 'click', 'web_tw_3735919_by_3429062');">
              <a href="http://twitter.com/share?count=horizontal&amp;url=http://roomclip.jp/photo/cujd&amp;text=HideOnuさんのお部屋写真&amp;" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"></a>
          </li>
          <li class="hb" title="はてなでシェア" onclick="RCApp.send_ga_event( 'Photo_share', 'click', 'web_hb_3735919_by_3429062');">
              <a target="_blank" href="http://b.hatena.ne.jp/entry.touch/http://roomclip.jp/photo/cujd" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"></a>
          </li>
          <li class="pt" title="Pinterestでシェア" onclick="RCApp.send_ga_event( 'Photo_share', 'click', 'web_pt_3735919_by_3429062');">
              <a href="http://pinterest.com/pin/create/button/?url=http://roomclip.jp/photo/cujd&amp;media=https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/61da32d1b0ef35a461eab70a240a42e5058d1525.jpg&amp;description=HideOnuさんの、稼働棚,シューズクローゼット,玄関棚,玄関収納,下駄箱,初投稿,立つほうき,玄関/入り口,のお部屋写真" onclick="window.open(this.href, 'PINwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"></a>
          </li>
        </ul>
      </aside>
    </figcaption>
  </figure>

  <nav>
    <figure class="prev">
      <% if @clip.previous.present? %>
          <span class="prearrow"></span>
          <%= link_to image_tag(@clip.previous.image, class: "preview-image", alt: "前の投稿写真"), clip_path(@clip.previous) %>
      <% end %>
      <input type="hidden" id="Move-to" value="cuyz">
    </figure>
    <figure class="next">
      <% if @clip.next.present? %>
        <span class="prearrow"></span>
        <%= link_to image_tag(@clip.next.image, class: "preview-image", alt: "の投稿写真"), clip_path(@clip.next) %>
      <% end %>
    </figure>
  </nav>

  <div id="comments">
    コメントは別カードで対応予定なので、要素クラス等々残しておきます
    <div class="view">
    </div>
    <div class="comments-section">
      <a href="/myroom/">
        <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_user/2aa8c862ea7fe267ac8912fce34e1c2a0d9cd4d8.jpg" alt="HideOnuさん">
      </a>
      <div class="textarea-wrap">
        <div class="mentions-input-box">
          <div class="mentions">
            <div></div>
          </div>
          <textarea class="sendcomment-value mention" data-mentions-input="true" style="overflow: hidden;"></textarea>
          <div class="mentions-autocomplete-list"></div>
        </div>
      </div>
      <button class="sendcomment" data-photo_id="3735919" data-user_id="3429062">コメントする</button>
      <input type="hidden" class="sendcomment-receivers" data-id_list="" data-name_list="">
    </div>
  </div>


        <div class="c-bottom-bread__wrapper">
          タグの実装後対応
          <ul class="c-bottom-bread">
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">部屋の実例</span>
              </a>
            </li>
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/tag/8" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">玄関/入り口</span>
              </a>
            </li>
          </ul>
          <ul class="c-bottom-bread">
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">部屋の実例</span>
              </a>
            </li>
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/tag/617407" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">初投稿</span>
              </a>
            </li>
          </ul>
          <ul class="c-bottom-bread">
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">部屋の実例</span>
              </a>
            </li>
            <li class="c-bottom-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/tag/2562" class="c-bottom-bread__item-link" itemprop="url">
                <span class="c-bottom-bread__item-label" itemprop="title">下駄箱</span>
              </a>
            </li>
          </ul>
        </div>
</div>

<div class="right" style="margin-left: 0rem;">

  <section class="user">
    <h2>
      <%= link_to "#{@clip.user.name }", user_path(@clip.user.id) %>
        <br> ユーザー画像設定画面作成後
    </h2>
    <a href="/myroom/3429062"><img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_user/2aa8c862ea7fe267ac8912fce34e1c2a0d9cd4d8.jpg" alt="HideOnuさん"></a>
  </section>

  <div class="actions">
    <div class="like-button ">
      <span id="like-of-<%= @clip.id %>">
        <%= render partial:'likes/like_links', locals: { clip: @clip } %>
      </span>
    </div>
    <div class="folder-button">
      <button class="folder show-folder-modal" data-photo_id="3735919" data-user_id="3429062" data-photo_url="https://cdn4.roomclip.jp/v1/640/roomclip-bucket/img_750/61da32d1b0ef35a461eab70a240a42e5058d1525.jpg"><span></span>保存する</button>
    </div>
    <aside>
      <span id="like-list"><%= @clip.likes_count %></span>
      いいね
    </aside>
  </div>

  <section class="tags">
    <h2>写真についているタグ一覧</h2>
    <div class="entry-tags">
      <ul>
        <% @clip.tags.each do |tag| %>
          <li id="tag-id-<%= tag.id %>">
          <div class="tag-delete-button deletetag" data-clip_id="<%= @clip.id %>" data-tag_id="<%= tag.id %>" data-user_id="<%= @clip.user_id %>">
            <span>×</span>
          </div>
          <a href="/clips/<%= @clip.id %>/lists/tags/<%= tag.id %>">
            <div>
              <%= tag %>
            </div>
          </a>
          <input type="hidden" class="tag-params" data-tag_id="<%= @clip.id %>" data-tag_name="<%= tag.name %>">
        </li>
        <% end %>
      </ul>
      <button class="tag-add-button"><span></span>タグを追加する</button>
      <div class="sendtag-element">
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input type="text" class="sendtag-value tag-autocomplete">
        <span class="tag-add-close-button">×</span>
        <input type="hidden" data-photo_id="3735919" data-user_id="3429062" class="sendtag">
      </div>
    </div>
  </section>
  <section class="items">
    アイテムタグは今回未対応予定なのでビューのみ
    <h2>この写真に写っているアイテム</h2>
    <div id="item-list">
      <a href="/market/items/389553" class="item-view item_referral_log" data-item_id="389553" data-user_id="3429062" data-action_location="photo_detail_view"  data-location_id="3735919" data-location_type="photo_id"  onClick="RCApp.send_ga_event( 'WEBItems', 'click', 'View_3735919_389553_3429062');">
        <img src="https://images-fe.ssl-images-amazon.com/images/I/41YPWhqZftL.jpg" alt="【カインズ】立つほうき　2017iＦデザインアワード受賞品　グッドデザイン (ベージュ)">
      </a>
    </div>
    <div class="clearfix"></div>
  </section>

  <section class="items">
    <button id="item-add" onClick="RCApp.send_ga_event( 'WEBItems', 'click', 'Add_3735919_3429062');">
      <span></span>アイテムタグを追加する
    </button>
  </section>

  <section class="contests">
    イベントは今回未対応予定なのでビューのみ
    <h2>イベント参加中！</h2>
    <section>
      <a href="/contest/622">
        <div>
          <img src="https://cdn.roomclip.jp/roomclip-contest/622/contest_banner_1527156449.6522.jpg" alt="RoomClipのイベント 初投稿ユーザーさん対象！RoomClipで初投稿 PART14 ">
          <h3 style="word-break: break-all;">初投稿ユーザーさん対象！RoomC...</h3>
          <aside>2018/06/01〜2018/06/30</aside>
       </div>
      </a>
    </section>
    <div class="clearfix"></div>
  </section>

  <section class="detail_mags">
    マガジン記事は今回未対応予定なのでビューのみ
    <h2>関連するRoomClip mag記事</h2>
    <ul id="mag-list">
      <li>
        <div>
          <a target="_blank" href="/mag/archives/11592">
            <img src="https://cdn.roomclip.jp/v1/180/roomclip-bucket/img_180/362f8b6db50358692928de8dbacea8ca4b62203b.jpg" alt="みんなが選んだ実例から見る　センスのいい玄関を作るテクニック">
            みんなが選んだ実例から見る　センスのいい玄関を作るテクニック
          </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank" href="/mag/archives/14661">
            <img src="https://cdn.roomclip.jp/v1/180/roomclip-bucket/img_180/15976cc87e354ecc1041e93acbb40276f20b1ae3.jpg" alt="賃貸でも諦めない！素敵な玄関アレンジ♪">
            賃貸でも諦めない！素敵な玄関アレンジ♪
          </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank" href="/mag/archives/17563">
            <img src="https://cdn.roomclip.jp/v1/180/roomclip-bucket/img_180/34e1cfa73e77746d8ce7b33c78eecb885e183103.jpg" alt="「おしゃれな玄関インテリア」ディスプレイ・収納実例40選">
          「おしゃれな玄関インテリア」ディスプレイ・収納実例40選
          </a>
        </div>
      </li>
    </ul>
  </section>

  <section class="side-option pop-user-photo">
    <h2>このユーザの人気の部屋写真</h2>
    <ul>
      <% @clips_like.each do |clip| %>
      <li>
        <%= link_to image_tag(clip.image),clip_path(clip), alt: "タグの内容・・玄関/入り口/ふくろう/梟/フクロウ/雑貨…などのインテリア実例"%>
      </li>
      <% end %>
    </ul>
    <aside class="more">
      <%= link_to user_path(@clip.user.id) do %>
        すべての写真を見る
        <%= image_tag "prearrow.png" %>
      <% end %>
    </aside>
  </section>


  <section class="side-option pop-tag-photo">
    <h2>関連するインテリア実例<br>タグ機能実装後対応予定<br>とりあえずいいねの多い物順で表示</h2>
    <ul>
      <% @clips_tag.each do |clip| %>
      <li>
        <%= link_to image_tag(clip.image),clip_path(clip), alt: "タグの内容・・玄関/入り口/ふくろう/梟/フクロウ/雑貨…などのインテリア実例"%>
      </li>
      <% end %>
    </ul>
  </section>


  <section class="side-option opt-daily">
    <h2>このインテリアが撮影された日の人気写真</h2>
    <ul>
      <% @clips_day.each do |clip| %>
      <li>
        <%= link_to image_tag(clip.image),clip_path(clip), alt: "タグの内容・・玄関/入り口/ふくろう/梟/フクロウ/雑貨…などのインテリア実例"%>
      </li>
      <% end %>
    </ul>
    <aside class="more">
      <%= link_to user_path(@clip.user.id) do %>
        他のDaily RoomClipも見る<br>今未対応画面のリンク
        <%= image_tag "prearrow.png" %>
      <% end %>
    </aside>
  </section>


  <section class="side-option pop-user-photo">
    <h2>関連するタグの新着写真<br>タグ機能実装後対応予定</h2>
      <div class="c-popular-tag-photo">
        <div class="c-popular-tag-photo__info">
          <div class="c-popular-tag-photo__tag">
            <a href="/tag/8" class="c-popular-tag-photo__tag__link">
              玄関/入り口
            </a>
          </div>
          <span class="c-popular-tag-photo__count">
            371,194 枚
          </span>
        </div>
        <div class="c-popular-tag-photo__images">
          <a href="/photo/c28D" class="c-popular-tag-photo__image__link">
            <img src="https://cdn19.roomclip.jp/v1/180/roomclip-bucket/img_1536/7d34bbafa6cf1470a72b6848e1bc4d2e20195359.jpg" alt="玄関/入り口のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/c28S" class="c-popular-tag-photo__image__link">
            <img src="https://cdn13.roomclip.jp/v1/180/roomclip-bucket/img_1536/8e3986dd1146742636dc41c88d7243c490c9494f.jpg" alt="玄関/入り口のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/c2fE" class="c-popular-tag-photo__image__link">
            <img src="https://cdn2.roomclip.jp/v1/180/roomclip-bucket/img_1536/ea3b0305558cfa132a9cb09ff4c9cdb2447ce82a.jpg" alt="玄関/入り口のインテリア実例" class="c-popular-tag-photo__image">
          </a>
        </div>
      </div>
      <div class="c-popular-tag-photo">
        <div class="c-popular-tag-photo__info">
          <div class="c-popular-tag-photo__tag">
            <a href="/tag/617407" class="c-popular-tag-photo__tag__link">
              初投稿
            </a>
          </div>
          <span class="c-popular-tag-photo__count">
            7,236 枚
          </span>
        </div>
        <div class="c-popular-tag-photo__images">
          <a href="/photo/c2NI" class="c-popular-tag-photo__image__link">
            <img src="https://cdn11.roomclip.jp/v1/180/roomclip-bucket/img_1536/35e9484231e0348cb9b48464b62074eb59ae6a12.jpg" alt="初投稿のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/c23w" class="c-popular-tag-photo__image__link">
            <img src="https://cdn20.roomclip.jp/v1/180/roomclip-bucket/img_1536/2cdc0b158c382e48f2c48c1eeaee82201c959f6f.jpg" alt="初投稿のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/c2Xi" class="c-popular-tag-photo__image__link">
            <img src="https://cdn15.roomclip.jp/v1/180/roomclip-bucket/img_1536/b846dbbddc2e869f5f25cb2420d387a3b326613f.jpg" alt="初投稿のインテリア実例" class="c-popular-tag-photo__image">
          </a>
        </div>
      </div>
      <div class="c-popular-tag-photo">
        <div class="c-popular-tag-photo__info">
          <div class="c-popular-tag-photo__tag">
            <a href="/tag/2562" class="c-popular-tag-photo__tag__link">
              下駄箱
            </a>
          </div>
          <span class="c-popular-tag-photo__count">
            1,705 枚
          </span>
        </div>
        <div class="c-popular-tag-photo__images">
          <a href="/photo/cfoK" class="c-popular-tag-photo__image__link">
            <img src="https://cdn9.roomclip.jp/v1/180/roomclip-bucket/img_640/525457d3019d54a16469e63f4dbbc0cd6195f80b.jpg" alt="下駄箱のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/cwuz" class="c-popular-tag-photo__image__link">
            <img src="https://cdn3.roomclip.jp/v1/180/roomclip-bucket/img_1536/f62d57df76315dc9bf7933c2d724a5aa014a07d0.jpg" alt="下駄箱のインテリア実例" class="c-popular-tag-photo__image">
          </a>
          <a href="/photo/cwPa" class="c-popular-tag-photo__image__link">
            <img src="https://cdn14.roomclip.jp/v1/180/roomclip-bucket/img_1536/d69c6d2e1efb809bc7c68cd2fe57cb1abef08484.jpg" alt="下駄箱のインテリア実例" class="c-popular-tag-photo__image">
          </a>
        </div>
      </div>
  </section>


<!-- 他タスクで対応 -->
  <section class="">
    <%= render partial: 'accordion' %>
  </section>


  <input type="hidden" id="params"
    data-has_own="1">

  <input type="hidden" id="taker-params"
    data-user_id="3429062"
    data-alert_level="0"
    data-is_followed="">

  <input type="hidden" id="photo-params"
    data-photo_id="3735919"
    data-taker_id="3429062"
    data-filename="61da32d1b0ef35a461eab70a240a42e5058d1525.jpg"
    data-created ="2018-06-14 14:33:17"
    data-is_liked=""
    data-is_foldered=""
    data-alert_level="0"
    data-like_count="9">

  <input type="hidden" id="access-params"
    data-user_id="3429062"
    data-name="HideOnu"
    data-image="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_user/2aa8c862ea7fe267ac8912fce34e1c2a0d9cd4d8.jpg"
    data-is_login="1">

  <input type='hidden' id='Photo-id' value='3735919'>
  <input type='hidden' id='Photo-model-like_count' value='9'>
  <input type='hidden' id='Photo-model-is-like' value=''>
  <input type='hidden' id='Photo-model-filename' value='61da32d1b0ef35a461eab70a240a42e5058d1525.jpg'>
  <input type='hidden' id='Photo-model-created' value='2018-06-14 14:33:17'>
  <input type='hidden' id='Photo-model-photo_id' value='3735919'>
  <input type='hidden' id='Photo-model-taker_id' value='3429062'>
  <input type='hidden' id='Photo-model-alert_level' value='0'>
<!-- グーグルの広告がここまで -->

</article>


<!-- 不明な記述表示はされない -->
<div id="modal-view"></div>
<div id="modal-view-like-list"></div>
<div id="modal-view-market"></div>
<div id="modal-error-view"></div>
<div id="modal-folder-view"></div>

<div id="complete-overlay">
  <img src="/assets/img/loading/loading_large.gif" alt="loading">
</div>

<!-- JSno記述なので、不要になる？？？ -->
<!-- 投稿削除時のJS -->
<script type="text/template" id="modal-photo-delete">
  <div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">写真削除</h3>
  </div>
  <div class="bbm-modal__section">
    <p>
      本当に写真を削除しますか？<br>この作業は取り消しできません。
    </p>
  </div>
  <div class="bbm-modal__bottombar">
    <div class="buttons">
      <a href="#" class="bbm-button cancel">キャンセル</a>
      <a href="#" class="bbm-button done deletephoto" data-photo_id="3735919" data-user_id="3429062">
         削除する
      </a>
    </div>
  </div>
</script>

<!-- 構造化データのマークアップ -->
<script type="application/ld+json">
{"@context":"http:\/\/schema.org","@type":"BlogPosting","headline":"稼働棚\/シューズクローゼット\/玄関棚\/玄関収納\/下駄箱\/初投稿…などのインテリア実例 -2018-06-14 14:33:17","image":{"@type":"ImageObject","url":"https:\/\/cdn4.roomclip.jp\/v1\/640\/roomclip-bucket\/img_750\/61da32d1b0ef35a461eab70a240a42e5058d1525.jpg","height":640,"width":640},"datePublished":"2018-06-14 14:33:17","dateModified":"2018-06-14 14:33:23","author":{"@type":"Person","name":"HideOnu"},"publisher":{"@type":"Organization","name":"RoomClip","logo":{"@type":"ImageObject","url":"https:\/\/roomclip.jp\/assets\/img\/v3\/logo\/logo-pc-login.png","width":269,"height":61}},"description":"3LDKの稼働棚\/シューズクローゼット\/玄関棚\/玄関収納\/下駄箱\/初投稿…などについてのインテリア実例を紹介。(この写真は 2018-06-14 14:33:17 に共有されました)","mainEntityOfPage":{"@type":"WebPage","@id":"https:\/\/roomclip.jp"}}
</script>

</body>
</html>
