<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<!-- <link rel="stylesheet" href="../assets/stylesheets/users_show.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow,noarchive">
<meta name="description" content="HiroakiSanoさん(Room No. 3464798)がRoomClipで共有した部屋のインテリア実例を紹介します。男性の、1DK、一人暮らしのインテリア実例を参考にしてみましょう！">
<meta content="インテリア,部屋,HiroakiSano" name="keywords">

<!-- Facebook Pixel Code -->
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=235060970222367&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --><meta name="p:domain_verify" content="149dcc9ca5d3e2cbd47cea6e9c3effd7"/><meta name="referrer" content="origin-when-cross-origin">

<meta property="og:title" content="部屋のインテリア実例 HiroakiSanoさん(Room No. 3464798)の部屋 ｜ RoomClip（ルームクリップ）">
<meta property="og:type" content="website">
<meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_user/3464798">
<meta property="og:url" content="http://roomclip.jp/myroom/3464798">
<meta property="og:site_name" content="RoomClip（ルームクリップ）｜部屋のインテリア実例共有サイト">
<meta property="og:description" content="HiroakiSanoさん(Room No. 3464798)がRoomClipで共有した部屋のインテリア実例を紹介します。男性の、1DK、一人暮らしのインテリア実例を参考にしてみましょう！">
<meta property="fb:app_id" content="362011867144945">

		<link href="https://plus.google.com/104572883204505507891" rel="publisher" />

<title>部屋のインテリア実例 HiroakiSanoさん(Room No. 3464798)の部屋 ｜ RoomClip（ルームクリップ）</title>

</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKJTV3W&gtm_auth=0PZIrSaOkwbiT0Ma1EIW0g&gtm_preview=env-44&gtm_cookies_win=x"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>



</header>


<div id="l-top" class="c-top">
  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <h1 class="c-top__subject">
        <%= "#{@user.name}の部屋" %>
      </h1>
    </div>
  </div>

  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <ul class="c-top__bar c-bread">
        <li class="c-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">部屋の実例</span>
          </a>
        </li>
        <li class="c-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">1LDK</span>
						<!-- 部屋検索未実装のため便宜的にindexに遷移 -->
						<!-- /users/#{@current_user.id} -->
          </a>
        </li>
        <li class="c-bread__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href= "user_path(@user.id)" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title"><%= "#{@user.name}の部屋" %></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div id="main">
  <div class="left">
    <div id="profile-photos">
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「部屋全体」についてのインテリア実例">
        <figcaption>部屋全体</figcaption>
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「机」についてのインテリア実例">
        <figcaption>机</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「リビング」についてのインテリア実例">
        <figcaption>リビング</figcaption>
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「ベッド周り」についてのインテリア実例">
        <figcaption>ベッド周り</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「棚」についてのインテリア実例">
        <figcaption>棚</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「キッチン」についてのインテリア実例">
        <figcaption>キッチン</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「壁/天井」についてのインテリア実例">
        <figcaption>壁/天井</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「玄関/入り口」についてのインテリア実例">
        <figcaption>玄関/入り口</figcaption>
      </figure>
      </a>
      <a href="#">
        <figure>
        <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_640/nocoverphoto.png" alt="男性の、1DK、一人暮らしの「バス/トイレ」についてのインテリア実例">
        <figcaption>バス/トイレ</figcaption>
      </figure>
      </a>
    </div>
    <section id="items-list">
      <h2>アイテムリスト</h2>
      <ul>
        <li>
          <a href="/market/items/189480" class="item_referral_log" data-item_id="189480" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/51SYnzuzTtL.jpg" alt="RoomClip商品情報 - 西海岸インテリアスタイル (学研インテリアムック)">
          </a>
        </li>
        <li>
          <a href="/market/items/87101" class="item_referral_log" data-item_id="87101" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/attrape-moi/cabinet/adenanais/10010105.jpg?_ex=128x128" alt="RoomClip商品情報 - 2017年新柄入荷！【PENDLETON/ペンドルトン】OVERSIZED JACQUARD TOWELS　タオル ブランケット バスタオル タオルケット ビーチタオル ジャガード　大判　インテリア　アウトドア　フェス　キャンプ　ビーチ【新作】 【XB233】[ZXA]【DM便配送不可】ZZ">
          </a>
        </li>
        <li>
          <a href="/market/items/88899" class="item_referral_log" data-item_id="88899" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/41oMFGyqfQL.jpg" alt="RoomClip商品情報 - こんなアメリカンなメールボックス欲しかった！【C062 MAIL BOX MERCURY レッド】">
          </a>
        </li>
        <li>
          <a href="/market/items/88588" class="item_referral_log" data-item_id="88588" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/618toE-kNeL.jpg" alt="RoomClip商品情報 - smartインテリア 2016-17秋冬号 (e-MOOK)">
          </a>
        </li>
        <li>
          <a href="/market/items/32099" class="item_referral_log" data-item_id="32099" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/plan007/cabinet/item_fjbe_4/fjbe2558.jpg?_ex=128x128" alt="RoomClip商品情報 - ガーデンチェア 『イタリア製チェアー レガーロ』 ガーデンチェア プラスチックチェア ガーデンチェアー スタッキングチェアー 椅子 イス おしゃれ オシャレ 庭 屋外 野外 ベランダ">
          </a>
        </li>
        <li>
          <a href="/market/items/24964" class="item_referral_log" data-item_id="24964" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/41w%2BFQO5M9L.jpg" alt="RoomClip商品情報 - 株式会社ファルマ 強力脱臭剤 キャッチシューPRO">
          </a>
        </li>
        <li>
          <a href="/market/items/24728" class="item_referral_log" data-item_id="24728" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/31gnIufwTvL.jpg" alt="RoomClip商品情報 - 株式会社ファルマ 強力脱臭剤 キャッチシューPRO スリム">
          </a>
        </li>
        <li>
          <a href="/market/items/2691" class="item_referral_log" data-item_id="2691" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/51%2BkHH6hd%2BL.jpg" alt="RoomClip商品情報 - HERMOSA レトロファンテーブル GR グリーン RF-010">
          </a>
        </li>
        <li>
          <a href="/market/items/21369" class="item_referral_log" data-item_id="21369" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/cucina/cabinet/0627/125.jpg?_ex=128x128" alt="RoomClip商品情報 - かご バスケット アイアン バスケット コンテナ スクエア L ラコンテ Raconter 【 クッチーナ 】 ワイヤーバスケット アンティーク 荷物入れ 収納 持ち手 おしゃれ かわいい プレゼント ギフト 雑貨 おしゃれ">
          </a>
        </li>
        <li>
          <a href="/market/items/16157" class="item_referral_log" data-item_id="16157" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/31LbKApXfKL.jpg" alt="RoomClip商品情報 - FARGRIK/深皿/ターコイズ(24cm)[イケア]IKEA(80234793)">
          </a>
        </li>
        <li>
          <a href="/market/items/16156" class="item_referral_log" data-item_id="16156" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/arknets/cabinet/sd-ring/imgrc0065220677.jpg?_ex=128x128" alt="RoomClip商品情報 - BAUER POTTERY(バウアーポッタリー) /BAUER POTTERY DINNER PLATE（ディナープレート 食器 お皿 )dinner-plate【DEA】">
          </a>
        </li>
        <li>
          <a href="/market/items/16155" class="item_referral_log" data-item_id="16155" data-user_id="3464798" data-action_location="myroom_view" data-location_id="237235" data-location_type="user_id">
            <img src="https://images-fe.ssl-images-amazon.com/images/I/31fy2pVG0IL.jpg" alt="RoomClip商品情報 - BAUER POTTERY(バウアーポッタリー) BAUER POTTERY SALAD PLATE（サラダプレート 食器 お皿 ) フリーサイズ（ワンサイズ） イエロー">
          </a>
        </li>
      </ul>
      <a class="all-item" href="/myitem/237235">
        <img src=https://roomclip.jp/assets/img/v3/item.png alt="アイテムを見る">アイテムをすべて見る (20)
      </a>
    </section>
  </div>
  <div class="right">
    <section id="user-image">
      <h2><%= @user.name %></h2>
        <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-bucket/img_user/d67f13b4321318beb28f223afb69c7c2311581ce.jpg" alt="HiroakiSanoさんのお部屋">
    </section>
    <table id="user-scores">
      <caption>HiroakiSanoさんの撮影した写真数、フォロー数、フォロワー数、クリップ数、いいね数などをまとめたテーブルです。</caption>
      <tbody>
      <tr>
        <td class="key">
          <%= link_to "すべての写真", user_path(@user.id) %>
          </a>
        </td>
        <td class="value">
          <a href="/myphoto/3464798">
            <%= @user.clips.count %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="key">
          <a href="/myfollow/3464798">
          フォロー
          </a>
        </td>
        <td class="value">
          <a href="/myfollow/3464798">
          0
          </a>
        </td>
      </tr>
      <tr>
        <td class="key">
          <a href="/myfollower/3464798">
          フォロワー
          </a>
        </td>
        <td class="value">
          <a href="/myfollower/3464798">
          0
          </a>
        </td>
      </tr>
      <tr>
        <td class="key">
          <a href="/mytag/3464798">
          タグ
          </a>
        </td>
        <td class="value">
          <a href="/mytag/3464798">
          0
          </a>
        </td>
      </tr>
      <tr>
        <td class="key">
          <a href="/mylike/3464798">
          いいね
          </a>
        </td>
        <td class="value">
          <a href="/mylike/3464798">
          0
          </a>
        </td>
      </tr>
      <tr>
        <td class="key">
          <a href="/myfolder/3464798">
          フォルダ
          </a>
        </td>
        <td class="value">
          <a href="/myfolder/3464798">
          0
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <table id="user-profiles">
      <caption>
        三度の飯より、インテリアです！
      </caption>
      <tbody>
        <tr>
          <td class="key">
            Room No.
          </td>
          <td class="value">
            3464798
          </td>
        </tr>
        <tr>
          <td class="key">
            国
          </td>
          <td class="value">
            Japan
          </td>
        </tr>
        <tr>
          <td class="key">
            都道府県
          </td>
          <td class="value">
            Tokyo
          </td>
        </tr>
        <tr>
          <td class="key">
            居住形態
          </td>
          <td class="value">
            一人暮らし
          </td>
        </tr>
        <tr>
          <td class="key">
            職業
          </td>
          <td class="value">
            IT系
          </td>
        </tr>
        <tr>
          <td class="key">
            性別
          </td>
          <td class="value">
            男性
          </td>
        </tr>
        <tr>
          <td class="key">
            生年
          </td>
          <td class="value">
            1986
          </td>
        </tr>
        <tr>
          <td class="key">
            間取り
          </td>
          <td class="value">
            1DK
          </td>
        </tr>
        <tr>
          <td class="key">
            広さ
          </td>
          <td class="value">
             -
          </td>
        </tr>
        <tr>
          <td class="key">
            よく使うタグ
          </td>
          <td class="value-wide">
            <div class="entry-tags">
              <ul>
                <li><a href="/tag/472"><div>DIY</div></a></li>
                <li><a href="/tag/10016"><div>DIY板壁</div></a></li>
                <li><a href="/tag/43402"><div>NO GREEN NO LIFE</div></a></li>
                <li><a href="/tag/73"><div>照明</div></a></li>
                <li><a href="/tag/513"><div>セルフリフォーム</div></a></li>
                <li><a href="/tag/39127"><div>好きなようにごちゃごちゃDIY</div></a></li>
                <li><a href="/tag/3595"><div>足場板</div></a></li>
                <li><a href="/tag/3685"><div>ベビースペース</div></a></li>
                <li><a href="/tag/4977"><div>ベビーベッド</div></a></li>
                <li><a href="/tag/231"><div>アンティーク</div></a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

		 <div class='search-link' >
			 <a href='http://roomclip.jp/myroom/search?gender=1&area=0&age=3&layout=3&style=2&job=7' >同条件の部屋を探す</a>
		 </div>
  </div>

  <section id="my-photos">
    <div>
      <h2>すべての写真</h2>
        <%= link_to "写真をすべて見る", user_path(@user.id), class: "all-photo" %>
    </div>
      <ul>
        <% @user.clips.first(14).reverse_each do |clip| %>
          <li>
            <%= link_to image_tag(clip.image), clip_path(clip) %>
          </li>
        <% end %>
    </ul>
  </section>
</div>

<div id="modal-view"></div>
<div id="modal-view-market"></div>

<script type="text/template" id="modal-item-detail">
  <div class="bbm-modal__topbar">
    <span class="icon"></span>
    <h3 class="bbm-modal__title">アイテム詳細</h3>
    <span class="bbm-button" id="market-modal-close"></span>
  </div>
  <div class="bbm-modal__section">

  </div>
  <div class="bbm-modal__bottombar">
    <span class="tipTip" title="アイテムタグは、撮影したお部屋写真に写っている商品の情報についての情報になります。" >アイテムタグとは？</span>
  </div>
</script>

<input type="hidden" id="room-params"
  data-user_id="3464798"
  data-name="HiroakiSano"
  data-image="d67f13b4321318beb28f223afb69c7c2311581ce.jpg"
  data-is_followed=""
 >

</body>
</html>
