<<<<<<< HEAD
<html lang="ja"><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
=======

<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
>>>>>>> 90ea9563360db154382851fe1994642599aa784e

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">

<meta name="msvalidate.01" content="06CFEECC6B1C43586559681DF5E98190">
<meta name="description" content="部屋のインテリア実例を共有するサイトRoomClipのログイン画面です。部屋のレイアウト、大型家具から小物・雑貨まで、現在写真数は300万枚を突破して、毎日どんどん増加中。自慢の部屋を投稿して共有しましょう。">
<!-- Facebook Pixel Code -->
<script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-TLK4Z9J&amp;t=gtm4&amp;cid=886258904.1528783904"></script><script async="" src="//uh.nakanohito.jp/uhj2/uh.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PKJTV3W&amp;gtm_auth=0PZIrSaOkwbiT0Ma1EIW0g&amp;gtm_preview=env-44&amp;gtm_cookies_win=x"></script><script src="https://connect.facebook.net/signals/config/235060970222367?v=2.8.18&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '235060970222367');
fbq('track', "PageView");</script>



<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=235060970222367&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --><meta name="p:domain_verify" content="149dcc9ca5d3e2cbd47cea6e9c3effd7"><meta name="referrer" content="origin-when-cross-origin">

<meta property="og:title" content="ログイン画面 | RoomClip（ルームクリップ）">
<meta property="og:type" content="website">
<meta property="og:image" content="http://roomclip.jp/assets/img/v3/ogp/roomclip-ogp.png">
<meta property="og:url" content="http://roomclip.jp/auth/form/login">
<meta property="og:site_name" content="RoomClip（ルームクリップ）｜部屋のインテリア実例共有サイト">
<meta property="og:description" content="部屋のインテリア実例を共有するサイトRoomClipのログイン画面です。部屋のレイアウト、大型家具から小物・雑貨まで、現在写真数は300万枚を突破して、毎日どんどん増加中。自慢の部屋を投稿して共有しましょう。">
<meta property="fb:app_id" content="362011867144945">

    <link href="https://plus.google.com/104572883204505507891" rel="publisher">

<title>ログイン画面 | RoomClip（ルームクリップ）</title>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/assets/js/common/outer/underscore-min.js"></script>
<script src="/assets/js/common/outer/backbone-min.js"></script>

</head>
<body style="" class=login-body>

<h1 class="menu-login">RoomClip（ルームクリップ） | ログイン</h1>

<a href="/"><img src="https://roomclip.jp/assets/img/v3/logo/logo-pc-login.png" alt="RoomClip（ルームクリップ） ログイン画面" class="login-clip"></a>

<div class="clearfix login-wrapper">

  <div class="pc_form_container">
    <section class="mail-login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>メールアドレスでログイン</h2>
      <%=f.email_field :email , maxlength: "256" , placeholder: "メールアドレスを入力" %>
      <%=f.password_field :password , maxlength: "256" , placeholder:"パスワードを入力" %>
    <% if devise_mapping.rememberable? -%>
      <div class="auth-checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :次回から自動的にログイン %>
      </div>
    <% end -%>
      <button id="Auth-email-lognin" class="off_button ">
      <%= f.submit "ログイン", :class=>"btn-submit" %>
      </button>
      <a href="/users/password/new" class="forget-ipass">
        パスワードを忘れた方はこちら
      </a>
    </section>
    <% end %>
    <section class="sns-login">
      <button class="login-button facebook" id="Auth-facebook">
        <span></span>
        Facebookでログイン
      </button>
      <button class="login-button twitter" id="Auth-twitter">
        <span></span>
        Twitterでログイン
      </button>
      <span class="auth-alert hidden color-alert" id="Alert-fb-unknown">
        不明なエラーが発生しました。やり直して下さい。
      </span>
      <span class="auth-alert hidden color-alert" id="Alert-fb-notyet">
        まだアカウント登録がされていません。
      </span>
      <p class="term">
        利用を継続することで RoomClip の<a href="/doc/terms" target="_blank">利用規約</a>と<a href="/doc/privacy" target="_blank">プライバシーポリシー</a>に同意したものとみなされます。
      </p>
    </section>
  </div>
  <section class="applink-pc-login"><img src="https://roomclip.jp/assets/img/v3/applink/pc-login-qr03.png" alt="スマホアプリ 広告">
  </section>
</div>

<input type="hidden" id="server-params" data-ref="https://roomclip.jp/doc/entry">



<script type="text/javascript" id="">(function(d,a){window.UserHeatTag=a;window[a]=window[a]||function(){(window[a].q=window[a].q||[]).push(arguments)};window[a].l=1*new Date;var b=document.createElement("script"),c=document.getElementsByTagName("script")[0];b.async=1;b.src=d;c.parentNode.insertBefore(b,c)})("//uh.nakanohito.jp/uhj2/uh.js","_uhtracker");_uhtracker({id:"uhFzOxl3N8"});</script>
</body></html>

