<!doctype html>

<div id="admin-screen">管理者専用画面
  <div id="daily-newentry">DailyClip登録
  </div>
</div>

<%= form_for @daily do |f| %>
  <div class="dailies-date">
    <%= f.label :date, '登録日' %>
    <%= f.date_field :date %>
  </div>
  <div class="dailyclip-date">
    <div class="daily-photo-no1">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_01" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no2">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_02" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no3">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_03" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no4">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_04" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no5">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_05" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
   <div class="daily-photo-no6">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_06" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no7">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_07" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no8">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_08" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no9">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_09" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no10">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_10" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no11">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_11" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no12">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_12" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no13">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_13" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no14">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_14" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no15">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_15" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no16">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_16" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no17">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_17" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no18">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_18" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no19">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_19" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no20">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_20" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no21">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_21" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no22">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_22" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no23">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_23" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no24">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_24" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no25">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_25" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no26">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_26" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no27">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_27" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>  </div>
    <div class="daily-photo-no28">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_28" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no29">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_29" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
    <div class="daily-photo-no30">
      <%= f.fields_for :dailyclips do |d| %>
        <%= d.label "NO_30" %>
        <%= d.number_field :num %>
        <%= d.number_field :clip_id %>
      <% end %>
    </div>
  <div id="dailyclip-submit-button">
    <%= f.submit "登録", :class => 'radius-min button-color-red' %>
<% end %>
