<!DOCTYPE html>

<div id="l-top" class="c-top">
  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <h1 class="c-top__subject">
        Daily RoomClip vol.<%= @daily.id %>（<%= @daily.date %>）
      </h1>
    </div>
  </div>

  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <ul class="c-top__bar c-bread">
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to root_path, class: "c-bread__item-link", itemprop: "url" do %>
            <span class="c-bread__item-label" itemprop="title">部屋の実例</span>
          <% end %>
        </li>
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to daily_path(@daily), class: "c-bread__item-link", itemprop: "url" do %>
            <span class="c-bread__item-label" itemprop="title">Daily RoomClip アーカイブ<%= @daily.date %></span>
          <% end %>
        </li>
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to daily_path(@daily), class: "c-bread__item-link" do %>
            <span class="c-bread__item-label" itemprop="title">Daily RoomClip vol.<%= @daily.id %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav id="volume-top">
  <ul>
    <li class="prev">
      <a href="/daily/1525">
        <span class="arrow"></span>
        vol.1525 <span class="date">(2018/07/13)</span>
      </a>
    </li>
    <li class="next">
      <a href="/daily/1527">
        <span class="arrow"></span>
        vol.1527 <span class="date">(2018/07/15)</span>
      </a>
    </li>
  </ul>
</nav>

    <ul>
      <% @dailyphoto.each do |clip| %>
      <li>
        <%= link_to image_tag(clip.image),clip_path(clip) %>
      </li>
      <% end %>
    </ul>
