<!DOCTYPE html>

<div id="l-top" class="c-top">
  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <h1 class="c-top__subject">
        Daily RoomClip vol.<%= @daily.id %>（<%= @daily.date %>）
      </h1>
    </div>
  </div>

  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <ul class="c-top__bar c-bread">
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to root_path, class: "c-bread__item-link", itemprop: "url" do %>
            <span class="c-bread__item-label" itemprop="title">部屋の実例</span>
          <% end %>
        </li>
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to daily_path(@daily), class: "c-bread__item-link", itemprop: "url" do %>
            <span class="c-bread__item-label" itemprop="title">Daily RoomClip アーカイブ<%= @daily.date %></span>
          <% end %>
        </li>
        <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <%= link_to daily_path(@daily), class: "c-bread__item-link" do %>
            <span class="c-bread__item-label" itemprop="title">Daily RoomClip vol.<%= @daily.id %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav id="volume-top">
  <ul>
    <li class="prev">
      <% if @daily.previous.present? %>
        <%= link_to daily_path(@daily.previous) do%>
          <span class="arrow"></span>
          vol.<%= @daily.previous.id %>
          <span class="date">(<%= @daily.previous.date %>)</span>
        <% end %>
      <% end %>
    </li>
    <li class="next">
      <% if @daily.next.present? %>
        <%= link_to daily_path(@daily.next) do%>
          <span class="arrow"></span>
          vol.<%= @daily.next.id %>
          <span class="date">(<%= @daily.next.date %>)</span>
        <% end %>
      <% end %>
  </ul>
</nav>

<ul id="dailyclipmain">
  <div id="masonry-container" style="position: relative; width: 960px; height: 3200px;">
    <li class="box_p1 entry-tile volume-cell" >
      <div style="background-color: rgb(81, 180, 204);">
        <div style="background-color: rgb(81, 180, 204);">
          Daily RoomClip
          <span class="vol">vol. <span class="num"><%= @daily.id %></span></span>
          <span class="vol-date"><%= @daily.date %></span>
        </div>
      </div>
    </li>
    <li class="box_p1 entry-tile twitter-cell" >
      <div>
        <span class="tw-logo"></span>
        「ピックアップ」の更新情報をお届け！
        <font class="tw-account">@RoomClipJP</font>
        <a href="https://twitter.com/RoomClipJP"><button><span></span>フォローする</button></a>
      </div>
    </li>
    <% @dailyphoto.each do |clip| %>
    <li class="box_p1 ">
      <div>
        <%= link_to image_tag(clip.image),clip_path(clip) %>
      </div>
    </li>
    <% end %>
  </div>
</ul>
<ul id="dailyclip-photo">
</ul>

